/* .stylesForBlueButton {
  background: blue;
  color: white;
}

.stylesForRedButton {
  background: #c71515;
  color: white;
} */

.button {
  overflow: hidden;
  padding: 5px 24px;

  border-radius: 3px;
  border: none;

  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
}

.red {
  background: #cc1439;
}

.secondary {
  color: #ffffff;
  background: #0066cc;
  border: 1px solid #0066cc;
  border-radius: 3px;
}

.default {
  background: #088651;
}

.disabled {
  color: #ffffff;
  background: #303132;
  opacity: 0.5;
}

.default:hover {
  background: #1f5d04;
}

.red:hover {
  background: #8f0722;
}

.secondary:hover {
  background: #052038;
}

.default:active {
  background: #0059b3;
}

.secondary:active {
  background: #c9e5ff;
}

.red:active {
  background: #b31232;
}

.button:disabled {
  cursor: default;
}
